<footer class="footer">
  <div class="footer__container">
    <div class="footer__brand">
      <span class="footer__logo">
        B
      </span>

      <div>
        <strong>Bookstore</strong>

        <p>
          Discover books, explore categories and find
          your next favorite story.
        </p>
      </div>
    </div>

    <div class="footer__links">
      <a routerLink="/products">
        Products
      </a>

      <a routerLink="/categories">
        Categories
      </a>

      <a routerLink="/auth/login">
        Admin Login
      </a>
    </div>
  </div>

  <div class="footer__bottom">
    © {{ currentYear }} Bookstore. All rights reserved.
  </div>
</footer>
